/* Aplica la fuente a todos los elementos */
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#photo {

    /* Ancho del elemento */
    width: 8vw;

    /* Alto del elemento */
    height: auto;
}

.subtitle {

    /* Color del texto en rgba */
    color: rgba(158, 55, 63, 0.89);

    /* Transformación del texto a mayúsculas */
    text-transform: uppercase;
}

section {

    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd;

    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px;

    /* relleno (espacio interno) de
    1.5% en la parte superior e inferior y
    0.8% a los lados derecho e izquierdo. */

    padding: 1.5% 0.8%;

    /* Margen inferior ajustado */
    margin-bottom: 1.2rem;

}

section {
   /* borde redondeado con un radio de 5 píxeles */
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

   /* sombra a un elemento */
   -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
   -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
   box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}